<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
     {{>navbar}}
  
   <!-- main header  -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div  -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
             
                    <figure class="errimg">
                        <img src="img/error.webp" class="img-fluid" title=" cyphon" alt="">
                    </figure>
                 
                  <p>Welcome to Cyphon-weather app</p>
                  <h1>{{errormsg}}</h1>
                   <a href="/" ><button>Go Back</button></a>
             </div>           
             <!-- right side div       -->
            
                  
             {{!-- </div>                 --}}
            </div>
            </div>
            </div>
            </div>

            <!-- footer code  -->
         {{>footer}}
</body>
</html>
