<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
     {{>navbar}}
  
   <!-- main header  -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div  -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
             
                    <figure>
                        <img src="img/pexels-photo-5952647.jpeg" class="img-fluid" title=" cyphon" alt="">
                    </figure>
                    </div>
               <div class="col-md-6 col-12 main_header_left">
                  <p>Welcome to weather app</p>
                  <h1>I am A <span class="text_clr">i a full stack developer and compettitive coder</span></h1>
                   <a href="https://www.linkedin.com/in/vivek-singh-33a491188/" target="_blank"><button>About me</button></a>
             </div>           
             <!-- right side div       -->
            
                  
             </div>                
            </div>
            </div>
            </div>
            </div>

            <!-- footer code  -->
         {{>footer}}
</body>
</html>
